@import "../utilities/all";

/**
FONT IMPORTS
 */
/*
@font-face {
  src: url('../../fonts/font.eot');
  font-family: 'Font Name';
  src: url('../../fonts/font.woff2') format('woff2'),
  url('../../fonts/font.woff') format('woff'),
  url('../../fonts/font.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/font.ttf') format('truetype');
}
*/

/**
FONT MIXINS
 */
/*@mixin font-name {
  font-family: "Font Name", sans-serif;
  font-weight: 500;
}*/
